:host {
    --slds-c-button-inverse-color-border: rgb(201, 201, 201);   /* same as --lwc-buttonColorBorderPrimary, used for lightning-button-icon buttons */
    --slds-c-card-radius-border: var(--slds-g-radius-border-4);
}

.slds-card {
    color: var(--slds-g-color-on-surface-2);
}

.dragging {
	opacity: 0.6;
}